
.nav {
    height: 70px;
    width: 100%;
    background-color: cadetblue;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
}

.heading{
   color: white;
    display: flex;
}

.nav h2 {
    margin: 0;  
    font-size: 40px;
}

.btn-box{
    display: flex;
   gap: 1rem;
}

.result-btn{
   font-size: 20px;
   /* border: 1px solid black; */
   padding: 15px;
   color: white;
   background-color: blueviolet;
   border-radius: 10px;
   padding: 6px 20px;
padding: 6px 20px;

   text-decoration: none;
   
}

.result-btn:active{
background-color: #2563eb;
  color: #ffffff;
  border-color: #1d4ed8;
  box-shadow: 0 2px 8px rgba(37, 99, 235, 0.3);
  transform: scale(1.02);
  font-weight: 600;
  
}

.login-btn{
     font-size: 20px;
   /* border: 1px solid black; */
   padding: 15px;
   color: white;
   background-color: lightgreen;
   border-radius: 10px;
   padding: 6px 20px;
padding: 6px 20px;

   text-decoration: none;
}

/* .mob-menu{
    display: none;
} */


@media (max-width: 768px) {
    .nav {
        height: auto;
        padding: 15px;
        flex-direction: column;
        gap: 1rem;
    }
    
    .nav h2 {
        font-size: 30px;
    }
    
    .btn-box {
        gap: 0.75rem;
    }
    
    .result-btn,
    .login-btn {
        font-size: 18px;
        padding: 8px 16px;
        display: none;
    }
}

.menu-icon {
    display: none;
    cursor: pointer;
    color: white;
}


/* Mobile */
@media (max-width: 760px) {
    .nav {
        padding: 10px;
    }
    .menu-icon{
        display: block;
        display: flex;
        
    }
    
    .nav h2 {
        font-size: 24px;
    }
    
    .btn-box {
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
    }

  
    
    .result-btn,
    .login-btn {
        font-size: 16px;
        padding: 8px 10px;
        text-align: center;
      align-items: center;
      width: 100%;
    }

    .mob-menu{
    width: 250px;
    height: 200px;
    background-color: aqua;

}

    
}  