.nav {
    height: 70px;
    width: 100%;
    background-color: azure;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
}

.nav h2 {
    margin: 0;  
    font-size: 40px;
}

.btnbox{
    display: flex;
}

.result-btn{
   font-size: 20px;
   /* border: 1px solid black; */
   padding: 15px;
   color: white;
   background-color: blueviolet;
   border-radius: 10px;
   padding: 6px 20px;
padding: 6px 20px;

   text-decoration: none;
   
}